{% extends "base.html" %} {% block content %}
<div class="detail">
<a href="{% url "attendance_list" %}" class="go-back"><i class="fa-solid fa-arrow-left"></i></a>
<div class = "detail-container">
    <table>
        <tr>
            <td>Id</td>
            <td>{{object.id}}</td>
        </tr>
        <tr>
            <td>Employee name</td>
            <td>{{attendance.employee}}</td>
        </tr>
        <tr>
            <td>Permission</td>
            <td>{{object.permission}}</td>
        </tr>
        <tr>
            <td>Reason</td>
            <td>{{object.reason}}</td>
        </tr>
        <tr>
            <td>Created at</td>
            <td>{{object.created_at}}</td>
        </tr>
        <tr>
            <td>Arrival time</td>
            <td>{{object.arrival_time}}</td>
        </tr>
    </table>
</div>
</div>

{% endblock content %}
